.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inputstyle {
  font-size: 2rem;
  padding: 1rem 1.5rem;
  max-width: 100px;
}

.label {
  font-size: 2rem;
  padding: 0.5rem;
}

@media (max-width: 600px) {
  .results {
    flex-direction: column;
    justify-content: center;
  }
  .form {
    flex-direction: column;
  }
}
