.page {
  background-image: url("../images//pattern.png");
  font-family: "Open Sans";
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.core {
  max-width: 800px;
  flex: 1 1 auto;
  margin: 0 auto;
  background-color: white;
  padding: 2rem;
}

.pagetitle {
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.body {
  text-align: justify;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .page {
    margin: 0 1rem;
  }
  .pagetitle {
    font-size: 1.5rem;
  }
}
