.page {
  max-width: 800px;
  margin: 0 auto;
  font-family: "Open Sans";
}

.pagetitle {
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.body {
  text-align: justify;
  margin-top: 2rem;
}
